body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #222;
}

.hero {
    background-color: #305c89;
    color: white;
    text-align: center;
    padding: 40px;
}

#tagline {
    font-size: 1.2rem;
    font-style: italic;
}

nav {
    background-color: #222;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 20px auto;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

card {
    border: 2px solid #305c89;
    padding: 15px;
    margin: 10px 0;
    background-color: #eef5ff;
}

#gallery img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #305c89;
    color: white;
    padding: 15px;
}
